body{
    margin: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    background-color: green;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;    
}
h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#devise{
    background-color: white;
}
.input1-container , .input2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showvalue{
    text-align: center;
    color: white;
}
.input{
    background: transparent;
    border: 0;
    color: white;
    text-align: right;
    font-size: 20px;
}
.input1-container select , .input2-container select {
    padding: 10px;
    background-color: white;

}
select:focus , input:focus {
    outline: 0;
}